/* @import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:wght@400..700&display=swap'); */
*{
    /* margin:0 !important;
    padding:0 !important;     */
 
    /* font-family-: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
}
h1::before,h1::after{
    content:'';
    width: 50px;
    height: 2px;
    background-color: aqua;
    display: inline-block;
    margin:0px 15px 10px 10px;

}
#header {
  z-index: 997;
  transition: all 0.5s;
  padding: 22px 0;
}

.mainsection-height{
    min-height: auto;
    
}
.clientsection-height{
    
    display: flex;
  flex-direction: row;
  align-items: start;
  
}
.clientsection-height1{
  
  display: flex;
flex-direction: column;

align-items: start;

}
.navbar{
    min-width:50px;
    max-height: 25px;
}
.custom-img-fluid{
    max-width: 80%;
    height: auto;
    
}
.service-svg{
    background-color: #3498db;
    border-radius: 50px;
    border-width:10px;
    border-style: solid;
    border-color: #3498db; 
}
.service-div{    
    border-radius: 20px;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;

    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.sideup{
  
position: fixed;
bottom: 0;
right:0;
width:35px;
height:35px;
margin: 10px;
background-color: #3498db;
   color: white;
   text-align: center;
   justify-content: center;
   border-radius: 5px;
}
  
  .custom-button {
    border-radius: 20px !important; /* Custom border-radius */
    margin-left: 1rem;
     /* Ensure some space around the button */
  }
  .home-btn {
    border-radius: 20px !important; /* Custom border-radius */
    
     /* Ensure some space around the button */
  }
  
  .custom-button1 {
    border-radius: 20px !important; /* Custom border-radius */
    /* margin-left: 1rem; */
     /* Ensure some space around the button */
     margin: 0px;
  }
  
  
  .logo {
    max-height: 40px; /* Adjust the size as needed */
  }
  
  @media (max-width: 992px) {
    
    .custom-button {
      margin-left: 0;
      margin-top: 1rem; /* Adjust as needed */
    }
  }
  


.product-div{
    border-radius: 8px;
    max-width: 70%;
    background:rgba(255, 255, 255, 0.9);
}
.footer{
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);

}
/* App.css */

  /* App.css */
.modal-backdrop.show {
    opacity: 0.5;
  }
  
  .modal-content {
    background-color: white;
    border-radius: 0.3rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  }
  .btn1{
    border-radius: 20px !important; /* Custom border-radius */
  }
  